.tabs-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow-x: auto;
	margin-bottom: 20px;
	background-color: var(--secondary-bg-color);
}

.tab {
	background-color: var(--secondary-bg-color) !important;
	color: #d8d8d8;
	text-align: center;
	padding: 10px 15px !important;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 3% 3% 0% 0% / 25% 25% 25% 25% !important;
	border: var(--border) !important;
	flex-shrink: 0;
	white-space: nowrap;
}

.tab--selected {
	border-bottom: none;
	border-top: none !important;
	background-color: var(--secondary-bg-color) !important;
	color: var(--primary-color) !important;
}

/* Responsive */

@media (max-width: 1270px) {

	#container-rail_1_fig1,
	#container-rail_1_fig3 {
		width: 49% !important;
	}
}


@media (max-width: 1100px) {

	#container-rail_1_fig6,
	#container-rail_1_fig7,
	#container-rail_1_fig8,
	#container-rail_1_fig9,
	#container-rail_1_fig10,
	#container-rail_1_fig11,
	#container-rail_1_fig2 {
		width: 100% !important;
	}

	#container-rail_2_fig1,
	#container-rail_2_fig2,
	#container-rail_2_fig3,
	#container-rail_2_fig4,
	#container-rail_2_fig5,
	#container-rail_2_fig6,
	#container-rail_2_fig7 {
		width: 100% !important;
	}

	#container-rail_3_fig1,
	#container-rail_3_fig2,
	#container-rail_3_fig3,
	#container-rail_3_fig4,
	#container-rail_3_fig5,
	#container-rail_3_fig6,
	#container-rail_3_fig7 {
		width: 100% !important;
	}

	#container-rail_4_fig1,
	#container-rail_4_fig2,
	#container-rail_4_fig3,
	#container-rail_4_fig4 {
		width: 100% !important;
	}

	#container-rail_5_fig1,
	#container-rail_5_fig2,
	#container-rail_5_fig3,
	#container-rail_5_fig4,
	#container-rail_5_fig5,
	#container-rail_5_fig6,
	#container-rail_5_fig7,
	#container-rail_5_fig8,
	#container-rail_5_fig9,
	#container-rail_5_fig10,
	#container-rail_5_fig11,
	#container-rail_5_fig12,
	#container-rail_5_fig13 {
		width: 100% !important;
	}

	#container-rail_6_fig3,
	#container-rail_6_fig7 {
		width: 100% !important;
	}
}


@media screen and (max-width: 992px) {
	.tab {
		padding: 10px 15px !important;
	}
}